.info-content {
    padding: 0px 1%;
}

.imgback {
    background-image: url(/image/Home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0% 5%;
}

.contacto img {
    width: 100px;
    height: 100px;
}