<nav class="userbar">
  <div class="usuario">

     <button *ngIf="!(auth.isLoggedIn$ | async)" (click)="abrirLogin()">
       Sesión
     </button>

     <div *ngIf="auth.isLoggedIn$ | async" class="menu-ajustes">

      <button (click)="toggleAjustes()">
        ⚙️ Ajustes
      </button>

      <div class="dropdown" *ngIf="mostrarAjustes">

        <button (click)="irPerfil()">
          Perfil
        </button>

        <button (click)="logout()">
          Cerrar sesión
        </button>

      </div>
    </div>

  </div>
</nav>


<app-loggin 
  *ngIf="mostrarLogin" 
  (cerrar)="cerrarLogin()">
</app-loggin>