.userbar {
  background-color: #23303d;
  border-radius: 15px 15px 0 15px;
  position: relative;
}

.userbar .usuario {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

/* BOTONES */
.userbar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background 0.2s;
}

.userbar button:hover {
  background-color: #2d4a68;
}
.menu-ajustes {
  position: relative; 
}
.dropdown {
  position: absolute;
  top: 45px; /* debajo del botón */
  right: 0;

  background: #1e1e1e;
  border-radius: 10px;
  padding: 10px;

  min-width: 150px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.3);

  z-index: 999;

  
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.2s ease;
}
.menu-ajustes .dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown button {
  width: 100%;
  text-align: left;
  padding: 8px;
  border-radius: 8px;
}

.dropdown button:hover {
  background: #333;
}