<div class="gallery">
  <h1 class="title">Galería</h1>

  <!-- BOTÓN SOLO ADMIN -->
  <div class="admin-actions" *ngIf="esAdmin">
    <input type="file" (change)="cargarImagen($event)" hidden #fileInput>
    <button (click)="fileInput.click()">Subir Imagen</button>
  </div>

  <div class="grid">
    <div class="grid-item"
         *ngFor="let imagen of imagenes"
         (click)="openImage(imagen.src)">

      <img [src]="imagen.src" [alt]="imagen.alt" (error)="handleImageError($event)">

      <!-- Botón que aparece al lado de la imagen al hacer hover -->
      <button class="btn-tatuador" (click)="verTatuador(imagen.empleadoId, $event)">
        Conoce al tatuador
      </button>
      <button class="btn-eliminar" *ngIf="esAdmin" (click)="eliminarImagen(imagen, $event)">✕</button>

    </div>
  </div>

  <!-- Visor — igual que antes -->
  <div class="image-viewer" *ngIf="selectedImage" (click)="closeImage()">
    <img [src]="selectedImage" alt="Imagen ampliada">
  </div>
</div>
