.gallery {
  padding: 40px;
  background: #F4F1F7; 
  min-height: 100vh;
}

.title {
  color: #2F2F2F;
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
}

.grid {
  column-count: 4;
  column-gap: 15px;
}

.grid-item {
  position: relative;
  margin-bottom: 15px;
  break-inside: avoid;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.grid-item img {
  width: 100%;
  border-radius: 12px;
  display: block;
  transition: all 0.3s ease;
}


.grid-item:hover {
  transform: scale(1.03);
}

.grid-item:hover img {
  filter: brightness(0.85);
}


.btn-tatuador {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%) translateY(6px);
  opacity: 0;

  background: #5E596B; 
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;

  box-shadow: 0 4px 10px rgba(94, 89, 107, 0.25);
  transition: all 0.3s ease;
}

.grid-item:hover .btn-tatuador {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.btn-tatuador:hover {
  background: #4B4453;
}

.btn-eliminar {
  position: absolute;
  top: 8px;
  right: 8px;

  background: rgba(255, 0, 0, 0.8);
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;

  opacity: 0;
  transition: 0.3s;
}

.grid-item:hover .btn-eliminar {
  opacity: 1;
}


.image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 47, 47, 0.9); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.image-viewer img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}


@media (max-width: 1200px) { .grid { column-count: 3; } }
@media (max-width: 800px)  { .grid { column-count: 2; } }
@media (max-width: 500px)  { .grid { column-count: 1; } }