.layout {
  display: grid;
  grid-template-columns: 70px 1fr;   /* lateral | contenido */
  grid-template-rows: 70px 1fr;      /* superior | contenido */
  height: 100vh;
  overflow: hidden;
}

/* Barra superior */
.user-navbar {
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 1000;
}

/* Barra lateral */
.main-navbar {
  grid-column: 1;
  grid-row: 1;
  z-index: 1000;
  height: 100vh;
}

/* Contenido desplazable */
.content {
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
  padding: 10px;
}