<div class="container">

  <h1>Agenda tu Cita</h1>
  <div class="content">

    <!-- Calendario -->
    <div class="calendar">

      <div class="calendar-header">
        <select [(ngModel)]="mesActual" (change)="generarCalendario()">
          <option *ngFor="let mes of meses; let i = index" [value]="i">
            {{ mes }}
          </option>
        </select>

        <select [(ngModel)]="anioActual" (change)="generarCalendario()">
          <option *ngFor="let anio of anios" [value]="anio">
            {{ anio }}
          </option>
        </select>
      </div>

      <!-- Días de la semana -->
      <div class="days">
        <span>D</span><span>L</span><span>M</span>
        <span>Mi</span><span>J</span><span>V</span><span>S</span>
      </div>

      <!-- Fechas dinámicas -->
      <div class="dates">
        <span *ngFor="let dia of diasMes" (click)="!esFechaPasada(dia) && seleccionarFecha(dia)"
          [class.active]="fechaSeleccionada === dia" [class.disabled]="esFechaPasada(dia)">
          {{ dia }}
        </span>
      </div>

    </div>

 <!-- Horarios -->

 <div class="hours">
   <ng-container *ngFor="let hora of horasFiltradas()">
     <button (click)="!esHoraPasada(hora) && seleccionarHora(hora)"
             [class.selected]="horaSeleccionada === hora"
             [class.disabled]="esHoraPasada(hora)">
       {{ hora }}
     </button>
   </ng-container>
 </div>

    <!-- Tatuadores -->
    <div class="artists">
      <div class="artist" *ngFor="let empleado of empleados" (click)="seleccionarTatuador(empleado.name)"
        [class.selected]="tatuadorSeleccionado === empleado.name">
        {{ empleado.name }}
      </div>
    </div>

  </div>

   <!-- Botones -->
   <div class="actions">
     <button class="cancelar" routerLink="">Cancelar</button>
     <button class="reserve" (click)="reservar()">
       {{ modoEdicion ? 'Actualizar Cita' : 'Reservar' }}
     </button>
   </div>

  <hr>

  <div>
    <div *ngFor="let cita of citas">
      <p>{{ cita.fecha }} - {{ cita.hora }} - {{ cita.tatuador }}</p>
    </div>
  </div>

</div>