/* ===== SIDEBAR BASE ===== */
.sidebar {
  width: 130px;
  height: 100%;
  background-color: #E9E3F0;
  border-radius: 15px;
  transition: width 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* ===== BOTÓN ===== */
.toggle-btn {
  width: 100%;
  height: 70px;
  background: none;
  border: none;
  color: #4B4453;
  font-size: 18px;
  padding: 12px;
  cursor: pointer;
  text-align: center;
}

.toggle-btn:hover {
  background-color: #D7D1DB;
  border-radius: 5px;
}

/* ===== LINKS ===== */
.sidebar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 0px 8px;
  text-align: center;
  color: #2F2F2F;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #D7D1DB;
  color: black;
  border-radius: 8px;
}

/* ===== ICONOS ===== */
.sidebar .icon {
  font-size: 24px;
}

/* ===== TEXTO ===== */
.sidebar .text {
  font-size: 12px;
  white-space: nowrap;
  transition: 0.3s ease;
}

/* ===== ESTADO ACTIVO ===== */
.sidebar a.active {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
  background-color: #D7D1DB;
}

/* ========================================= */
/* ===== ESTADO COLAPSADO ===== */
/* ========================================= */

.sidebar.collapsed {
  width: 70px;
}

/* ocultar SOLO texto */
.sidebar.collapsed .text {
  display: none;
}

/* mantener iconos centrados */
.sidebar.collapsed a {
  flex-direction: column;
  padding: 14px 0;
}