/* MAINBAR */
.sidebar {
  border-radius: 15px;
  width: 170px;
  height: 100%;
  background-color: #E9E3F0;
  transition: width 0.3s ease;
  position: relative;
  z-index: 1000;
}

/* BOTON */
.toggle-btn {
  background: none;
  border: none;
  color: #4B4453;
  font-size: 15px;
  padding: 10px 46%;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: #D7D1DB;
  border-radius: 5px;
}

/* LINKS */
.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2F2F2F;
  text-decoration: none;
  padding: 50px 15%;
  white-space: nowrap;
}

.sidebar a:hover {
  background-color: #D7D1DB;
}

/*=======ESTADO COLAPSADO========*/
.sidebar.collapsed{
  width: 70px;
  height: 70px;
  transition: width 0.3s ease;
}

/* OCULTAR TEXTO */
.sidebar.collapsed .text,
.sidebar.collapsed .icon {
  display: none;
}

.sidebar.collapsed .toggle-btn {
  font-size: 38px;
}

.sidebar.collapsed a {
  pointer-events: none;
}