<div class="profile-container">


  <div class="profile-header">
    <h2>Mi Perfil</h2>
  </div>

  <!-- INFO USUARIO -->
  <div class="profile-info">

    <div class="foto">
      <img *ngIf="foto" [src]="foto">
      <div *ngIf="!foto" class="placeholder">Sin foto</div>

      <input type="file" (change)="cambiarFoto($event)">
    </div>

    <div class="datos" *ngIf="usuario">
      <p><b>Nombre:</b> {{ usuario?.nombre || usuario?.name }}</p>
      <p><b>Email:</b> {{ usuario?.correo || usuario?.email }}</p>
    </div>

  </div>


  <div class="acciones">
    <button (click)="irAgenda()">Modificar cita</button>
    <button (click)="irResenas()">Publicar reseña</button>
  </div>

  <!-- CITAS -->
  <div class="citas">
    <h3>Mis Citas</h3>

    <div *ngIf="citas.length === 0" class="empty">
      No tienes citas registradas
    </div>

    <div class="cita-card" *ngFor="let cita of citas">
      <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
      <p><strong>Hora:</strong> {{ cita.hora }}</p>
      <p><strong>Tatuador:</strong> {{ cita.tatuador }}</p>

      <button class="eliminar" (click)="eliminar(cita.id)">
        Eliminar
      </button>
    </div>

  </div>

</div>