<div class="overlay" (click)="cerrarModal()"></div>

<div class="login-container">

  <div class="header">
    <span>Ink-Creature</span>
    <button class="close-btn" (click)="cerrarModal()">✕</button>
  </div>

  <div class="content">

    
    <div *ngIf="!modoRegistro">
      <h2>Iniciar sesión</h2>

    
      <div id="googleButton"></div>

  

      <label>Correo</label>
      <input type="email" [(ngModel)]="email" placeholder="Correo electrónico">

      <label>Contraseña</label>
      <input type="password" [(ngModel)]="password" placeholder="Contraseña">

      <button class="login-btn">Iniciar sesión</button>

      <a class="forgot">¿Olvidaste tu contraseña?</a>

      <div class="divider"><span>o</span></div>

      <button class="register-btn" (click)="irARegistro()">
        Registrarse
      </button>
    </div>


    <div *ngIf="modoRegistro">
      <h2>Crear cuenta</h2>

      
      <div id="googleButton"></div>

      <div class="divider"><span>o</span></div>

      <label>Nombre</label>
      <input type="text">

      <label>Correo</label>
      <input type="email">

      <label>Contraseña</label>
      <input type="password">

      <button class="register-btn">Registrarse</button>

      <div class="divider"><span>o</span></div>

      <button (click)="irALogin()">Volver </button>
    </div>

  </div>
</div>