<div class="overlay" (click)="cerrarModal()"></div>

<div class="login-container">

  <div class="header">
    <span>Ink-Creature</span>
    <button class="close-btn" (click)="cerrarModal()">✕</button>
  </div>

  <div class="content">

    <!-- LOGIN -->
    <div *ngIf="!modoRegistro">
      <h2>Iniciar sesión</h2>

      <div id="googleLogin"></div>
      <label>Correo</label>
      <input type="email" [(ngModel)]="correo" placeholder="Correo electrónico">

      <label>Contraseña</label>
      <input type="password" [(ngModel)]="password" placeholder="Contraseña">

      <button (click)="irARegistro()">Registrarse</button>
    </div>

    <!-- REGISTRO -->
    <div *ngIf="modoRegistro">
      <h2>Crear cuenta</h2>

      <div id="googleRegister"></div>

      <input type="text" [(ngModel)]="nombre" placeholder="Nombre">
      <input type="email" [(ngModel)]="correo" placeholder="Correo">
      <input type="password" [(ngModel)]="password" placeholder="Contraseña">

      <button (click)="registrarse()">Registrarse</button>

      <p *ngIf="mensajeError" style="color:red">{{mensajeError}}</p>

      <button (click)="irALogin()">Volver</button>
    </div>

  </div>
</div>